@import "color";
@import "global";

.container {
  width: 80%;
  margin: 0 auto;
}

#header {
  height: 70px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);

  &.sticky-header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $gray-30;
    z-index: 100000;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;

    a {
      text-decoration: none;
    }
  }

  .logo {
    position: relative;
    z-index: 1000;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 2.5em;
    }

    h1 {
      font-size: 1.25rem;
      font-weight: 600;
      text-transform: uppercase;
      color: $green-500;
      padding-left: 0.5em;
    }
  }

  .nav-list {
    display: flex;

    li:not(:last-child) {
      margin-right: 2.5em;
    }

    a {
      color: $gray-800;
      position: relative;
      transition: all 0.3s ease-in-out;

      &.active {
        color: $green-700;
      }

      &:hover {
        color: $green-700;
      }
    }
  }

  .toggler {
    display: none;

    span {
      display: block;
      height: 2px;
      width: 20px;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  #header {
    .header-nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 0;
      width: 100vw;
      overflow: hidden;
      background-color: $gray-800;
      transition: all 0.3s ease-in-out;
      z-index: 100;

      &.active {
        height: 100vh;
        overflow: visible;
      }
    }

    .nav-list {
      height: inherit;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 10%;

      li {
        margin: 0 !important;
        &:not(:last-child) {
          margin-bottom: 1em !important;
        }
      }

      a {
        color: $gray-50;
        font-size: 1.125rem;
        font-weight: 300;
      }
    }

    .toggler {
      display: block;
      position: relative;
      z-index: 1000;

      span {
        background-color: $gray-800;
        transition: all 0.3s ease-in-out;
        transform-origin: 20px;
      }

      &.active {
        span {
          background-color: $gray-50;
        }
        span:first-child {
          transform: rotate(-45deg);
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:last-child {
          transform: rotate(45deg);
        }
      }
    }
  }
}

// showcase
#showcase {
  height: calc(100vh - 70px);
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    inset: 0;
    z-index: 9;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;

    .content {
      position: relative;
      z-index: 10;
      text-align: center;
      color: $gray-50;
      h1 {
        text-transform: capitalize;
        font-size: 2.265rem;
      }
      .btn {
        margin-top: 2.5em;
      }
    }
  }

  //   controler
  .controler {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    color: $gray-50;
    padding: 0.5em 1em;
    z-index: 50;

    span {
      font-size: 1.5rem;
      line-height: normal;
      cursor: pointer;
      &:nth-child(2) {
        padding: 0;
        cursor: text;
        font-family: "Zen Antique", serif;
      }

      &:first-child {
        padding-right: 0.5em;
        font-size: 1.25rem;
      }
      &:last-child {
        padding-left: 0.5em;
        font-size: 1.25rem;
      }
      #slider-counter {
        padding: 0;
        font-size: 1.5rem;
        font-weight: 300;
      }
    }
  }

  //   slides
  .slides {
    position: absolute;
    inset: 0;
    z-index: 5;
  }

  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;

    img {
      height: 100%;
      object-fit: cover;
    }

    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }
}

// projects
#projects {
  .projects-container {
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
    margin-top: 3em;
  }

  .projects-card {
    border: 1px solid $gray-200;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;

    &:hover {
      box-shadow: 0 0 5px -2px $gray-400;
    }
  }

  .project-img {
    overflow: hidden;
    img {
      transform: scale(1.01);
      object-fit: cover;
      height: 100%;
      transition: all 0.5s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  .projcet-content {
    padding: 2em;

    .title {
      text-transform: capitalize;
    }
  }
}

// about section
#about {
  background-color: $gray-100;
  .main-title {
    z-index: 1;
  }

  .about-content-body {
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 3em;
  }

  .content {
    // .title {
    //   margin-bottom: 1em;
    // }

    p.body-text {
      text-align: justify;
    }

    .sign {
      font-weight: 500;
      text-transform: capitalize;
    }
  }
}

// contact section
#contact {
  // map container
  .map-container {
    position: relative;
    margin-top: 3em;
    overflow: hidden;

    .map {
      width: 100%;
      height: 70vh;
      transition: all 0.3s ease-in-out;
    }
  }

  .contact-content {
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5em;

    // contact info
    .contact-info {
      display: grid;
      place-items: center;

      .title {
        text-align: left;
        margin-bottom: 1em;
      }
    }

    .contact-info-list {
      li {
        &:not(:last-child) {
          margin-bottom: 1em;
        }

        i {
          color: $blue-500;
          padding-right: 0.5em;
          font-size: 1.25rem;
        }
      }
    }

    // contact form
    .contact-form-container {
      padding: 2em;
      border: 1px solid $gray-200;
      border-radius: 10px;

      .input-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &.error {
          input,
          #message {
            border-color: $red;
          }

          small {
            display: block;
            color: $red;
          }
        }

        &.success {
          input,
          #message {
            border-color: $gray-200;
          }

          small {
            display: none;
          }
        }

        &:not(:last-child) {
          margin-bottom: 1em;
        }

        label {
          text-transform: capitalize;
          display: inline-block;
          margin-bottom: 0.2em;
        }

        input,
        textarea {
          width: 100%;
          resize: none;
          font-size: 1rem;
          font-family: "Poppins", sans-serif;
          padding: 0.5em 0.8em;
          border: 1px solid $gray-200;
          border-radius: 5px;
          outline: none;
          transition: all 0.3s ease;

          &:hover,
          &:focus {
            border-color: $green-200;
            box-shadow: 0 0 5px -2px $green-500;
          }
        }
      }

      .btn {
        margin-top: 1em;
        outline: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}

/* media contact page */
@media (max-width: 760px) {
  #contact {
    .contact-form-container {
      padding: 1em !important;
    }

    .contact-info {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}

#footer {
  // height: 50vh;
  background-color: $gray-800;
  padding-block: 4em;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .logo {
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 2.5em;
      text-decoration: none;
    }

    h1 {
      font-size: 1.25rem;
      font-weight: 600;
      text-transform: uppercase;
      color: $green-500;
      padding-left: 0.5em;
    }
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .nav-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      li {
        a {
          color: $gray-50;
          text-decoration: none;
          font-weight: 300;
          transition: all 0.3s ease-in-out;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .body-text {
    grid-column: 1 / 2;
    // grid-row: 2 / -1;

    .far.fa-heart {
      color: $red;
    }
  }
}

@media (max-width: 760px) {
  #footer {
    overflow-x: hidden;

    .footer-nav {
      justify-content: flex-start !important;
      margin-top: 2em;
    }
    .nav-list {
      flex-direction: column !important;
      align-items: flex-start !important;

      li {
        margin-bottom: 1em;
      }
    }
  }
}
